 /*nav bar starts*/
 
 * {
     color: white;
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     text-decoration: none;
 }
 
 .logo {
     width: 75px;
     cursor: pointer;
 }
 
 li,
 a button {
     font-weight: 500;
     font-size: 32px;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10%;
     background-color: #111;
 }
 
 .nav-list {
     list-style: none;
     color: #ddd;
 }
 
 .nav-list li {
     display: inline-block;
     padding: 0% 20px;
 }
 
 .nav-list li a {
     transition: all 0.3s ease 0s;
 }
 
 .nav-list li a:hover {
     color: aqua;
 }
 
 button {
     padding: 9px 25px;
     background-color: blue;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }
 
 button:hover {
     background-color: red;
 }
 /*nav bar ends*/
 
 .h31 {
     margin-left: 15px;
 }
 
 .h1A {
     margin-left: 10px;
 }
 
 .p1a {
     margin-top: 10px;
 }
 
 .h61 {
     margin-left: 10px;
 }
 
 .fh3 {
     text-align: center;
 }
 
 .fh31 {
     text-align: center;
     margin-bottom: 20px;
 }
 
 body {
     font-family: Arial, Helvetica, sans-serif;
     background: linear-gradient(rgba(23, 113, 223, 1), rgba(0, 224, 255, 1));
 }
 
 * {
     box-sizing: border-box;
 }
 
 input[type=text],
 select,
 textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
 }
 
 input[type=submit] {
     background-color: blue;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 
 input[type=submit]:hover {
     background-color: red;
 }
 
 .container {
     padding: 20px;
 }
 
 .pad {
     margin-top: 5%;
     margin-left: 10%;
     margin-right: 10%;
     margin-bottom: 10%;
 }
 
 .h3-1 {
     text-align: center;
     margin-top: 5%;
     margin-bottom: 5%;
     font-size: 30px;
 }
 /* footer starts*/
 
 .footer-background {
     width: 100%;
     height: auto;
     background: linear-gradient(rgba(23, 113, 223, 1), rgba(0, 224, 255, 1));
     opacity: 1;
     position: relative;
     top: 0px;
     left: 0px;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-img-1 {
     width: 100px;
 }
 
 .footer-logo {
     width: 48px;
     cursor: pointer;
     margin-top: 2.5%;
     margin-left: 5%;
     margin-bottom: 2.5%;
 }
 
 li,
 a button {
     font-weight: 500;
     font-size: 32px;
 }
 
 .footer-list {
     list-style: none;
     margin-top: 5%;
     margin-bottom: 10%;
     color: #ddd;
 }
 
 .footer-list li {
     display: inline-block;
     padding: 0% 20px;
 }
 
 .footer-list li a {
     transition: all 0.3s ease 0s;
 }
 
 .footer-list li a:hover {
     color: aqua;
 }
 
 button {
     padding: 9px 25px;
     background-color: gold;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }
 
 button:hover {
     background-color: blue;
 }
 
 .footer-button-1 {
     margin-top: 2.5%;
     margin-bottom: 2.5%;
 }
 
 .footer-button-2 {
     margin-top: 2.5%;
     margin-right: 2.5%;
     margin-bottom: 2.5%;
 }
 
 .footer-work-icon {
     width: 50px;
     height: auto;
 }
 /*footer ends*/