*{
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: black;
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: blue;
}

li a.active {
  color: white;
  background-color: blue;
  float:right;
}









.b1{
  background-color: blue;
 border: none;
 color: white;
 padding: 15px 32px;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;

}


.nav-img{
margin-left: 2.5%;
margin-right: 2.5%;
  height: 5%;
  width: auto;
  float: left;



}




.img1 {
  height: 400px
  width: auto;
  direction: center;
}



.img2{
height: 40%;
  padding: 1em 1em 1em 1em;
  align-items: center;
}


.img3{
  padding-left: 20%;
  padding-right: 20%
  height: 600;
  width: 500px;
  color: white;
  image-orientation:center
  text-align: center;
}

.h11 {
  margin-top: 15%;
  margin-bottom: 10%;
  color: white;
  text-align: center;
  font-size: 40px;
}


 .h12{
   margin-top: 20%;
   margin-bottom: 5%;
   color: white;
   text-align: center;


 }

 }

h6 {
  padding-left: 10px;
  text-align: left;
  color: white

}

.ft1 {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}


.li20 {
  text-align: below;
}




.li20 {
  text-align: below;
}



.li30 {
  position: center;
}



.PBC{

  background-color: blue;
   width: 100%;
   height: auto;
   border-radius: 25px;
   color: white;
}


.column {
 -ms-flex: 25%; /* IE10 */
 flex: 25%;
 max-width: 25%;
 padding: 0 4px;


}

.icon{
  text-align: center;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;

}

p {
  color: black;
}



.img2-a{

  text-align: center;
}



.img2a{
  width: 50%;
  padding-bottom: 2.5%;
}


.h31a{
  padding-top: 10px;
  text-align: center;
}

.h31b{
  padding-top: 10px;
text-align: center;
}




.row2 {
  padding: 100px;
  display: flex;
  justify-content: space-between;


}

.row2A{
  padding: 100px;
  display: flex;
  justify-content: space-between;

}



 .row3{
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;

 }


.banner{
  margin-left: 45%;
  margin-top: 5em;
  margin-bottom:

}



p {
  color: white;
  text-align: center;
  padding-top: 10px;
}


/*
.nav11{
text-align: center;
align-self: center;
}
*/









.h31{
  margin-left: 15px;
}





.h1A{
  margin-left: 10px;
}



.p1a{
  margin-top: 10px;
}

.bio-1{
text-align: center;
}

.h2-1{
  text-align: center;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 25px;

}


.h2-2{
  margin-top: 3%;
  margin-bottom: 3%;
}



  .h61{
    margin-left: 10px;
  }



  .fh3{
    text-align: center;
}

  .fh31{
    text-align: center;
    margin-bottom: 0px;
}

.p-1{
  font-size: 20px;
}















/* btn */




.color .blue   {background: #6698cb;}


.btn, .btn-two {
margin: 9px;
}

a[class*="btn"] {text-decoration: none;}
input[class*="btn"],
button[class*="btn"] {border: 0;}

/* Here you can change the button sizes */
.btn.large,
.btn-two.large,
.btn-effect.large {
padding: 20px 40px;
font-size: 22px;
}



/* Colors for .btn and .btn-two */
.btn.blue, .btn-two.blue     {background-color: #7fb1bf;}

/* default button style */
.btn1 {
position: relative;
border: 0;
padding: 15px 25px;
display: inline-block;
text-align: center;
color: white;
}
.btn:active {
top: 4px;
}

/* color classes for .btn */
.btn.blue {box-shadow: 0px 4px #74a3b0;}
.btn.blue:active {box-shadow: 0 0 #74a3b0; background-color: #709CA8;}

.btn-3d.blue:hover   {background-color: #699DD1;}

.btn-3d.blue {
background-color: #6DA2D9;
box-shadow: 0 0 0 1px #6698cb inset,
      0 0 0 2px rgba(255,255,255,0.15) inset,
      0 8px 0 0 rgba(110, 164, 219, .7),
      0 8px 0 1px rgba(0,0,0,.4),
      0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
box-shadow: 0 0 0 1px #6191C2 inset,
      0 0 0 2px rgba(255,255,255,0.15) inset,
      0 0 0 1px rgba(0,0,0,0.4);
}


.btn-gradient.blue {
background: rgba(102,152,203,1);
background: -moz-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,152,203,1)), color-stop(100%, rgba(92,138,184,1)));
background: -webkit-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: -o-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: -ms-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: linear-gradient(to bottom, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
}
.btn-gradient.blue:active 	{background: #608FBF;}





.pad-mag{
  margin: 0,0,0,0 ;
  padding: 0,0,0,0 ;
}





































/* btn */




.color .blue   {background: #6698cb;}


.btn, .btn-two {
margin: 9px;
}

a[class*="btn"] {text-decoration: none;}
input[class*="btn"],
button[class*="btn"] {border: 0;}

/* Here you can change the button sizes */
.btn.large,
.btn-two.large,
.btn-effect.large {
padding: 20px 40px;
font-size: 22px;
}



/* Colors for .btn and .btn-two */
.btn.blue, .btn-two.blue     {background-color: #7fb1bf;}

/* default button style */
.btn {
position: relative;
border: 0;
padding: 15px 25px;
display: inline-block;
text-align: center;
color: white;
}
.btn:active {
top: 4px;
}

/* color classes for .btn */
.btn.blue {box-shadow: 0px 4px #74a3b0;}
.btn.blue:active {box-shadow: 0 0 #74a3b0; background-color: #709CA8;}

.btn-3d.blue:hover   {background-color: #699DD1;}

.btn-3d.blue {
background-color: #6DA2D9;
box-shadow: 0 0 0 1px #6698cb inset,
      0 0 0 2px rgba(255,255,255,0.15) inset,
      0 8px 0 0 rgba(110, 164, 219, .7),
      0 8px 0 1px rgba(0,0,0,.4),
      0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
box-shadow: 0 0 0 1px #6191C2 inset,
      0 0 0 2px rgba(255,255,255,0.15) inset,
      0 0 0 1px rgba(0,0,0,0.4);
}


.btn-gradient.blue {
background: rgba(102,152,203,1);
background: -moz-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,152,203,1)), color-stop(100%, rgba(92,138,184,1)));
background: -webkit-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: -o-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: -ms-linear-gradient(top, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
background: linear-gradient(to bottom, rgba(102,152,203,1) 0%, rgba(92,138,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
}
.btn-gradient.blue:active 	{background: #608FBF;}
