 /*nav bar starts*/
 
 * {
     color: white;
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     text-decoration: none;
 }
 
 .logo {
     width: 75px;
     cursor: pointer;
 }
 
 li,
 a button {
     font-weight: 500;
     font-size: 32px;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10%;
     background-color: #111;
 }
 
 .nav-list {
     list-style: none;
     color: #ddd;
 }
 
 .nav-list li {
     display: inline-block;
     padding: 0% 20px;
 }
 
 .nav-list li a {
     transition: all 0.3s ease 0s;
 }
 
 .nav-list li a:hover {
     color: aqua;
 }
 
 button {
     padding: 9px 25px;
     background-color: blue;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }
 
 button:hover {
     background-color: red;
 }
 /*nav bar ends*/
 /* sec-1 start*/
 
 .sec-1-h1-1 {
     text-align: center;
     font-size: 30px;
     margin-bottom: 5%;
     margin-top: 5%;
 }
 
 .sec-1-h1 {
     font-size: 25px;
 }
 
 body {
     background-color: #111;
     justify-content: center;
 }
 
 .sec-1 {
     text-align: center;
 }
 
 .sec-1-img {
     width: 80%;
     margin-top: 5%;
     margin-bottom: 2.5%;
 }
 
 .sec-1-bio-1 {
     text-align: center;
 }
 
 .spac-1 {
     margin-bottom: 10%;
 }
 /* sec-1 ends*/
 /* footer starts*/
 
 .footer-background {
     width: 100%;
     height: auto;
     background: linear-gradient(rgba(23, 113, 223, 1), rgba(0, 224, 255, 1));
     opacity: 1;
     position: relative;
     top: 0px;
     left: 0px;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-img-1 {
     width: 100px;
 }
 
 .footer-logo {
     width: 48px;
     cursor: pointer;
     margin-top: 2.5%;
     margin-left: 5%;
     margin-bottom: 2.5%;
 }
 
 li,
 a button {
     font-weight: 500;
     font-size: 32px;
 }
 
 .footer-list {
     list-style: none;
     margin-top: 5%;
     margin-bottom: 10%;
     color: #ddd;
 }
 
 .footer-list li {
     display: inline-block;
     padding: 0% 20px;
 }
 
 .footer-list li a {
     transition: all 0.3s ease 0s;
 }
 
 .footer-list li a:hover {
     color: aqua;
 }
 
 button {
     padding: 9px 25px;
     background-color: gold;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
 }
 
 button:hover {
     background-color: blue;
 }
 
 .footer-button-1 {
     margin-top: 2.5%;
     margin-bottom: 2.5%;
 }
 
 .footer-button-2 {
     margin-top: 2.5%;
     margin-right: 2.5%;
     margin-bottom: 2.5%;
 }
 
 .footer-work-icon {
     width: 50px;
     height: auto;
 }
 /*footer ends*/