*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


.pre-pic-sec{
    width: 40%;
    text-align: left;
}

.row-preview{
    margin-top: 5%;
    margin-bottom: 5%;
}

.text-bio{
    float:right;
    text-align: right;
}